

<p style="width:98%;height:30px;position:fixed;bottom:0;overflow:hidden;z-index:999;" id="BtnEdit">
    <button type="button" class="btn btn-primary  btn-sm" style="float:right;margin-right:10px;" onclick="submitForm()">
        <span class="glyphicon glyphicon-ok"></span> 确定
    </button>
    <button type="button" class="btn btn-default btn-sm" style="float:right;margin-right:10px;" onclick="window.parent.layer.closeAll();">
        <span class="glyphicon glyphicon-remove"></span> 关闭
    </button>
</p>
        